.rounded-buttons {
    display: flex;
    margin-left: 1200px;
    margin-top: 20px;
    justify-content: space-between;
}

.custom-button {
    height: 50px;
    cursor: pointer;
    transform: translate(-20%, 120%);
    background-color: #ffffff;
    color: #000000;
    font-family: 'Sofia Sans Black', sans-serif;
    margin-right: 10px;
}
